body {
  margin: 0;
  overflow: hidden;
  background: #000;
}

#crosshair {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 30px;
  transform: translate(-50%, -50%);
}